.addArtistModal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
  
    .modalContent {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        z-index: 9999; /* Add this line */
  
      h2 {
        margin-bottom: 10px;
      }
  
      .MuiTextField-root {
        margin-bottom: 10px;
      }
  
      .MuiButton-contained {
        background-color: #674501;
        color: white;
  
        &:hover {
          background-color: #ffab02;
        }
      }
    }
  }
  